:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px;
  font-size: 13px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.chat-scrollbar::-webkit-scrollbar {
  width: 8px; /* or 4% if you prefer */
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.border-radius-str-bot {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 0;
}

.border-radius-str-chat {
   border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 16px;
}
.user-bubble {
  background-color: #6c6ce0; /* Purple-ish for user */
  color: white;
}

.bot-bubble {
  background-color: #6c757d; /* Light gray for bot */
  color: black;
}
